.button {
	padding: 1rem 1.75rem;
	font-size: 1.6rem;
	font-weight: 500;
	font-family: var(--font-family);
	background: none;
	border: 1px solid var(--bg-color-2);
	border-radius: 0.75rem;
	color: white;
	text-decoration: none;
	text-align: center;
}
