.login {
	height: 100dvh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 5rem;
	padding: 4rem;
}

.login :nth-child(2) {
	grid-column: span 2;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
