.operations {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.25rem;
	padding-inline: 1rem;
	margin-top: 2rem;
}

.operations a {
	padding: 1.5rem;
	text-decoration: none;
	border-radius: 0.5rem;
	background-color: var(--bg-color-1);
	color: var(--ft-color-1);
	font-weight: 600;
	transition: all 150ms;
	font-size: 1.2rem;
}

.operations a:hover {
	background-color: var(--bg-color-3);
}

.body {
	height: 30rem;
	overflow-y: scroll;
	border-top: none;
	border: 2px solid var(--bg-color-1);
	border-radius: 1rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.header {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 1rem 1.5rem;
	background-color: var(--bg-color-1);
	color: var(--ft-color-1);
	text-align: center;
	border-radius: 1rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.row {
	display: grid;
	border-bottom: 1px solid var(--bg-color-1);
	padding: 1rem;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	text-align: center;
}

.row:last-child {
	border-bottom: none;
}

.loader {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
}
