form {
	display: grid;
}

.gridAssign {
	height: 100%;
	padding: 2rem 3rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3rem;
	align-items: center;
	border: 2px solid var(--bg-color-1);
	border-radius: 1rem;
	overflow-y: scroll;
	height: 38rem;
	margin-bottom: 1rem;
}

.input,
.select {
	grid-column: 2/-1;
	border: none;
	border: 2px solid var(--bg-color-1);
	border-radius: 0.5rem;
	padding: 1.5rem 1rem;
	font-size: 1.2rem;
	font-weight: 600;
}

.p {
	grid-column: 1/2;
	font-size: 1.2rem;
	font-weight: 600;
	background-color: #caf4ff95;
	padding: 2rem;
	border-radius: 0.5rem;
}

.buttons {
	display: flex;
	gap: 1rem;
	justify-self: end;

	> button,
	a {
		padding: 1.5rem;
		text-decoration: none;
		border-radius: 0.5rem;
		background-color: var(--bg-color-1);
		color: var(--ft-color-1);
		font-weight: 600;
		transition: all 150ms;
		font-size: 1.2rem;
	}
}

a:hover,
.buttons button:hover {
	background-color: var(--bg-color-3);
}

.loader {
	justify-self: center;
}
