.operations {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.25rem;
	padding-inline: 1rem;
	margin-top: 1rem;
}

.operations a {
	text-decoration: none;
	background: none;
	border: none;
	border-radius: 0.5rem;
	padding: 1.5rem 2rem;
	background-color: var(--bg-color-1);
	color: var(--ft-color-1);
	font-weight: 600;
	font-size: 1.2rem;
	transition: all 150ms;
}

.operations a:hover {
	background-color: var(--bg-color-2);
}

.body {
	height: 25rem;
	overflow-y: scroll;
	border: 2px solid var(--bg-color-1);
	border-top: none;
	border-radius: 1rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.header {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding: 1rem 1.5rem;
	background-color: var(--bg-color-1);
	border-radius: 1rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: var(--ft-color-1);
	text-align: center;
}

.row {
	display: grid;
	border-bottom: 1px solid var(--bg-color-1);
	padding: 1rem;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
	text-align: center;
}

.row:last-child {
	border-bottom: none;
}

.tag {
	width: fit-content;
	justify-self: center;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
	background-color: aqua;
}
