.operations {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 0.25rem;
	padding-inline: 1rem;
	margin-top: 1rem;
}

.operations a {
	text-decoration: none;
	background: none;
	border: none;
	border-radius: 0.5rem;
	padding: 1.5rem 2rem;
	background-color: var(--bg-color-1);
	color: var(--ft-color-1);
	font-weight: 600;
	font-size: 1.2rem;
	transition: all 150ms;
}

.operations a:hover {
	background-color: var(--bg-color-3);
}

.body {
	height: 30rem;
	overflow-y: scroll;
	border: 2px solid var(--bg-color-1);
	border-top: none;
	border-radius: 1rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding: 1rem 1.5rem;
	background-color: var(--bg-color-1);
	border-radius: 1rem;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	color: var(--ft-color-1);
	text-align: center;
}

.row {
	display: grid;
	border-bottom: 1px solid var(--bg-color-1);
	padding: 1rem;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	text-align: center;
}

.row:last-child {
	border-bottom: none;
}

.tagLow,.tagMedium,.tagHigh {
	display: flex;
	justify-content: center;
	width: 6rem;
	justify-self: center;
	border-radius: 0.5rem;
	padding: 0.25rem 1rem;
	color: white;

}

.tagLow{
	background-color: #7ABA78;
}
.tagMedium{
	background-color: #5AB2FF;
}
.tagHigh{
	background-color: #C73659;

}

.spinner{
	text-align: center;
    margin-top: 10rem;
}
