@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--font-family: 'Rubik', sans-serif;
	--bg-color-1: #00215e;
	--bg-color-2: #2c4e80;
	--font-lg: 2rem;
	--font-md: 1.6rem;
	--font-sm: 1.2rem;
}

html {
	font-size: 62.5%;
	font-family: var(--font-family);
}
